agate
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
apache-airflow
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apispec
argcomplete
asgiref
attrs
Babel
beautifulsoup4
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
clickclick
colorama
colorlog
ConfigUpdater
connexion
cron-descriptor
croniter
cryptography
curl_cffi
daff
dbt-adapters
dbt-common
dbt-core==1.9.0
dbt-duckdb==1.9.0
dbt-extractor
dbt-semantic-interfaces
deepdiff
Deprecated
dill
dnspython
docutils
duckdb
email_validator
Flask
Flask-AppBuilder
Flask-Babel
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
frozendict
frozenlist
fsspec
gitdb
GitPython
google-re2
googleapis-common-protos
greenlet
grpcio
gunicorn
h11
httpcore
httptools
httpx
idna
importlib-metadata
importlib_resources
inflection
isodate
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
lazy-object-proxy
leather
limits
linkify-it-py
lockfile
Logbook
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-oneofschema
marshmallow-sqlalchemy
mashumaro
mdit-py-plugins
mdurl
methodtools
minimal-snowplow-tracker
more-itertools
msgpack
multidict
multitasking
narwhals
networkx
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ordered-set
packaging
pandas
parsedatetime
pathspec
peewee
pendulum
pillow
platformdirs
plotly
pluggy
prison
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
python-daemon
python-dateutil
python-multipart
python-nvd3
python-slugify
pytimeparse
pytz
PyYAML
referencing
requests
requests-toolbelt
rfc3339-validator
rich
rich-argparse
rpds-py
setproctitle
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
starlette
streamlit
tabulate
tenacity
termcolor
text-unidecode
time-machine
toml
typing-inspection
typing_extensions
tzdata
uc-micro-py
unicodecsv
universal_pathlib
urllib3
uvicorn
watchdog
websockets
Werkzeug
wirerope
wrapt
WTForms
yarl
yfinance
zipp
jinja2